
html, body{min-height:100%;}
body{font-family: "Calibri"; font-size:11px;}


.equationBar{
    background-color: brown;
}

.equationBar{
  position: relative;
}

.golbalGuage{position:relative;width:400px; margin:0 auto;}
.mainGauge{ height:200px; position:relative; overflow:hidden;}
.gaugeBg{background: url(http://res.cloudinary.com/dioieuprs/image/upload/v1472222449/gauge-bg_dssycj.png) no-repeat center rgba(0,0,0,0.04); width:400px; height:400px; border-radius:100%;}

.mainGaugeVal{ width: 400px;height: 200px;  overflow: hidden;  position: absolute; top: 0; left: 0; right: 0; transform: rotate(60deg); transform-origin: center bottom;}

.gaugeVal{background-color:rgba(0,0,0,0.1);width:400px; height:400px; border-radius:100%;}
.equ{    position: absolute;
    top: 190px;
    left: 0;
    display: block;
    background: url(http://res.cloudinary.com/dioieuprs/image/upload/v1472217678/gauge_jrwnoy.png) no-repeat 98px 50%;
    width: 220px;
    height: 20px;
    transform: rotate(59deg);
    transform-origin: 202px 50%;}

.equVals{position:relative; padding:0 64px; text-align:center; margin-top:18px; }
.equValMin{position:absolute; top:0; left:22px;}
.equValMax{position:absolute; top:0; right:22px;}
.equVal{display:inline-block; }

.led-box {
  height: 30px;
  width: 25%;
  margin: 10px 0;
  float: left;
}

.led-box p {
  font-size: 12px;
  text-align: center;
  margin: 1em;
}

.led-red {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -ms-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-o-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}

.led-yellow {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;
}

@-webkit-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-moz-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-ms-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-o-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}

.led-green {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-blue {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #24E0FF;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}
#ui-datepicker-div {display: none;}

.grid-stack {
    background: lightgoldenrodyellow;
}

.grid-stack-item-content {
    color: #2c3e50;
    text-align: center;
    background-color: #18bc9c;
}
body,
h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold
}

img {
    margin-bottom: -7px
}

.w3-row-padding img {
    margin-bottom: 12px
}
.jllogo {
    position: absolute;
    left: 10px;
    top: 10px;
}

.page-title{
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 15px;
    width:100%;
    text-align:center;
}

.page-sub-title{
    position: absolute;
    width:100%;
    text-align:center;
    right: 10px;
    top: 45px;
}

#logoutButton{
    position: absolute;
    right: 0px;
    top: 10px;
    cursor: pointer;
    margin-right: 15px;
    width: 100px;
    text-align: left;
}

#settingsButton{
    position: absolute;
    right: 110px;
    top: 10px;
    width: 160px;   
    text-align: left;
}
#addWidgetButton{
    position: absolute;
    right: 110px;
    top: 48px;   
    width: 160px;
    text-align: left;
}

#saveGridButton{
    position: relative;
    width: 170px;  
    text-align: center;
}

#fullScreenButton{
    position: absolute;
    right: 10px;
    top: 15px; 
    width: 170px;  
    text-align: left;
}

.portal-header{
    display: block;
    width: calc(100%);
    margin-bottom: 16px;
}

#notification {
    position:absolute;
    top:0px;
    left: 0px;
    width:100%;
    z-index:105;
    text-align:center;
    font-weight:normal;
    font-size:14px;
    font-weight:bold;
    padding:5px;
}
#notification span.dismiss {
    border:2px solid #2A2A2A;
    padding:0 5px;
    cursor:pointer;
    float:right;
    margin-right:10px;
}
#notification a {
    color:black;
    text-decoration:none;
    font-weight:bold
} 

#portal-sidebar{
    width: 220px;
    max-width: 220px;
    height: 80%;
    position: absolute;
    top: 112px;            /* margin and height of the header */
    right: 0px;
}

.blur {    
    height: 100%;
    width: 100%;
    margin: -20px auto;
    z-index: -3;
    -webkit-filter: blur(10px); 
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);    
}

.chart-title-font{
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    text-align: center;
}

.widget-font{
    font-family: "Calibri";
    font-size: large;
}

.portal-button{
    background-color: inherit; /* Green */
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.portal-pane-button{
    background-color: inherit; /* Green */
    border: none;
    padding: 3px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.portal-button:disabled{
    opacity: 0.65;
    cursor: wait;
}
.portal-button[disabled]:hover {
    background-color: inherit;
}

.sidebar-widget{
    font-family: "Calibri";
    font-weight: normal;
    font-size: 14px;
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
    padding: 20px;
}

.sidebar-widget-header{
    font-family: "Calibri";
    font-weight: bold;
    font-size: 16px;
    padding: 3px 20px 3px 20px; 
}

.siteInfoLabel{
    font-weight: bold;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #3D3D3D;
  color: #CFD0D0;
  background-color: inherit;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #B88F51;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #B88F51;
}

.combo-1{
    text-align: left;
    color: #CFD0D0;
    width: 190px; 
    background-color: inherit;   
    margin-top: 8px;
    border: 1px solid #3D3D3D;
    padding: 3px 0px 3px 3px;
    
}

.combo-1:focus{
  box-shadow: 0 0 5px #B88F51;
  border: 1px solid #B88F51;
}

select option{
    background: #2A2A2A;
    
}

.label-1{
    margin-top: 8px;
    margin-left: 10px;
    text-align: left;
}

/* Animation CSS here on*/

.spinner {
  width: 10px;
  height: 10px;
  margin: 6px auto;
  background-color: lightgreen;
  
  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.5s infinite ease-in-out;
}

.closebtn {
    margin-top: 4px;
    text-decoration: none;
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: inherit
}

.livebtn {
    margin-top: 4px;
    text-decoration: none;
    float: right;
    font-size: 12px;
    color: inherit;
    vertical-align: center;
}

.settingsbtn {
    margin-top: 4px;
    text-decoration: none;
    float: right;
    font-size: 12px;
    color: inherit;
    vertical-align: center;
}

.closebtn,
.settingsbtn,
.livebtn
{
    -webkit-transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s;
    transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s
}

.closebtn:hover,
.settingsbtn:hover,
.livebtn:hover,
.closebtn:focus,
.settingsbtn:focus,
.livebtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

/* The Modal (background) */
.settings-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.settings-modal-content {
    position: relative;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    padding: 50px 20px 75px 20px;
    width: 50%; /* Could be more or less, depending on screen size */
}



/* The Close Button */
.settings-close {
    color: #aaa;
    position: absolute;
    top: -10px;
    right: 4px;
    font-size: 28px;
    font-weight: bold;
}

.settings-close:hover,
.settings-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.settings-modal-title{
    font-size: 24px;
    position: absolute;
    top: 15px;
    width:100%;
    text-align:center;
    font-style: "normal";
    font-weight: "lighter";
    font-family: "calibri";
}

#settings-modal-button{
    font-size: 16px;
    position: absolute;
    right: 25px;
    bottom: 15px; 
    width: 70px;  
    text-align: left;
}


@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 1;
  }
}

.loader {
  width: 50px;
  height: 50px;
  background-color: #B88F51;
  margin: 185px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}